$cinza-escuro: #909090;
$color-logo: $cinza-escuro;

body {
  margin:0;
  background: #f1f1f1;
}

.content {
  display: block;
  margin: auto;
  margin-top: 100px;
  width: 150px;
  height: 150px;
  color: #FFFFFF;
  text-align: center;

  .tag {
    width: 145px;
    height: 145px;
    display: inline-block;
    font-size: 8em;
    font-family: Arial;
    &:after {
      content: "";
      margin-left: -105px;
      width: 145px;
      height: 145px;
      background: $color-logo;
      border-radius: 7px;
      position: absolute;
      z-index: -1;
      -webkit-transform:scale(1) rotate(45deg);
      -moz-transform:scale(1) rotate(45deg);;
      -o-transform:scale(1) rotate(45deg);;
      transform:scale(1) rotate(45deg);;
    }
  }
}
